[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
flask = "*"
pytest = "*"
pylint = "*"
faker = "*"
sqlalchemy = "*"
pytest-cov = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
